@model List<Order>

<div class="row">Email
   @await Html.PartialAsync("AdminLeftMenu")

    <div class="col">
        <h3>Список заказов:</h3>
        @foreach (Order order in Model)
        {
            <div class="col">
                <table class="btn border-success">
                   <tr>
                       <th class="btn border-success">Id заказа: @order.Id</th>
                       <th  class="btn border-success">Дата: @order.DateAndTime.Date.ToString().Substring(0,10)</th>
                       <th  class="btn border-success">Время: @order.DateAndTime.TimeOfDay.ToString().Substring(0,5)</th>
                       <th  class="btn border-success">Адрес получателя: @order.Address</th>
                   </tr>
                   <tr>
                       <th  class="btn border-success">Номер телефона получателя: @order.Phone</th>
                       <th  class="btn border-success">Статус заказа: @order.Status</th>
                       <th class="btn border-success"><a asp-action="EditStatus">Изменить статус</a></th>
                       <th class="btn btn-danger" href="/Order/Del?id=@order.Id">Удалить заказ!</th>
                   </tr>
                   <tr>
                        <th class="btn border-success"><a class="btn border-success" href="/order/order?@order.Id">Список товаров</a></th>
                   </tr>
                </table>
            </div>
            <hr />
        }
    </div>
</div>