@model List<Product>

@if (Model != null && Model.Count > 0)
{
<div class="row">
    @await Html.PartialAsync("AdminLeftMenu")

    <div class="col-9">
        <h3>Список товаров:</h3>
        <a class="btn border-primary" href="/Admin/AddProduct">Добавить товар</a>
        <table class="table table-striped">
            <tr>
                <th>Название</th>
                <th>Категория</th>
                <th>Цена</th>
                <th>Себестоимость</th>
                <th>Количество</th>
                <th>Уменьшить / Увеличить остаток на складе</th>
                <th>Действия</th>
            </tr>
            @foreach (var product in Model)
            {
                <tr class"border-success">
                    <td>@product.Name</td>
                    <td>@product.Category</td>
                    <td>@product.Price</td>
                    <td>@product.Cost</td>
                    <td>@product.Quantity</td>
                    <td>
                        <a class="btn border-primary" href="/Admin/QuantitiReduce?ProductId=@product.Id">-</a> 
                        <a class="btn border-primary" href="/Admin/QuantityIncrease?ProductId=@product.Id">+</a></td>
                    <td>
                        <a class="btn border-success" href="/Admin/EditProduct?Id=@product.Id">Изменить</a>
                        <a class="btn border-danger" href="/Admin/DeleteProduct?ProductId=@product.Id">Удалить</a>
                    </td>
                </tr>
            }
            </table>

    </div>
</div>
}
else
{
<div class="row">
    @await Html.PartialAsync("AdminLeftMenu")

    <div class="col-9">
        <h3>Список товаров:</h3>
        <h4>Упс, список товаров пуст...</h4>
            <a class="btn border-primary" href="/Admin/AddProduct">Добавить товар</a>
    </div>
</div>
}
